---
import { SiteConfig } from '../siteconfig'
import Page from '../layouts/Page.astro'
import { getCollection } from 'astro:content'
const blogEntries = await getCollection('blog')
import Test from '../components/test'
---

<Page title={SiteConfig.title}>
  <main class="font-sans prose">
    <div class="i-logos-astro h-24 w-48"></div>
    <h1>{SiteConfig.title}</h1>
    <p>{SiteConfig.description}</p>
    <Test client-only="react"/>
    <ul>
      {
        blogEntries.map((blogPostEntry) => (
          <li>
            <a href={`${import.meta.env.BASE_URL}blog/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
            {blogPostEntry.data.pubDate && (
              <time datetime={blogPostEntry.data.pubDate.toISOString()}>
                {blogPostEntry.data.pubDate.toDateString()}
              </time>
            )}
          </li>
        ))
      }
    </ul>
  </main>
</Page>
